.contacts {
    min-width: 100%;
    color: rgb(50, 43, 43);
    position: absolute;
    background-color: rgb(170, 169, 169);
    right: 0;
    bottom: 0;
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
}