.home_container {
    margin: auto;
    max-width: 1200px;
    div {
       
        p {
            font-size: 30px;
        }
    }
}

.home_content {
    height: 10em;
    position: relative
    
}

.site_function {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    p {
        text-align: center;
    }
}

