.card_container {
    display: inline-block;
    margin: 30px;
}

.post {
    color: black;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #181818;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


    
}

.content {
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    margin-left: 20px;
    margin-top: 30px;
}